assets/large_videos/summary[[:space:]]video.mp4 filter=lfs diff=lfs merge=lfs -text
assets/large_videos/sumo[[:space:]]demo.mp4 filter=lfs diff=lfs merge=lfs -text
assets/success_rate/tire_rack_drag.mp4 filter=lfs diff=lfs merge=lfs -text
assets/success_rate/tire_stack.mp4 filter=lfs diff=lfs merge=lfs -text
assets/success_rate/tire[[:space:]]upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/success_rate/traffic[[:space:]]cone[[:space:]]upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/success_rate/yellow_chair_upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/success_rate/barrier_drag.mp4 filter=lfs diff=lfs merge=lfs -text
assets/success_rate/barrier_upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/success_rate/rugged[[:space:]]box[[:space:]]push.mp4 filter=lfs diff=lfs merge=lfs -text
assets/analysis/spot_chair_push.mp4 filter=lfs diff=lfs merge=lfs -text
assets/analysis/spot_cone_push.mp4 filter=lfs diff=lfs merge=lfs -text
assets/analysis/spot_rack_push.mp4 filter=lfs diff=lfs merge=lfs -text
assets/analysis/spot_rack_upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/analysis/spot_tire_push.mp4 filter=lfs diff=lfs merge=lfs -text
assets/analysis/spot_box_push.mp4 filter=lfs diff=lfs merge=lfs -text
assets/analysis/spot_box_upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/analysis/spot_chair_upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/analysis/spot_cone_upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/analysis/spot_tire_upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/blender_demo/rugged[[:space:]]box[[:space:]]push.mp4 filter=lfs diff=lfs merge=lfs -text
assets/blender_demo/barrier[[:space:]]upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/blender_demo/chair[[:space:]]upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/blender_demo/tire[[:space:]]rack[[:space:]]draf.mp4 filter=lfs diff=lfs merge=lfs -text
assets/blender_demo/tire[[:space:]]rack[[:space:]]drag.mp4 filter=lfs diff=lfs merge=lfs -text
assets/blender_demo/tire[[:space:]]stack.mp4 filter=lfs diff=lfs merge=lfs -text
assets/blender_demo/tire[[:space:]]upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/blender_demo/traffic[[:space:]]cone[[:space:]]upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/blender_demo/barrier[[:space:]]drag.mp4 filter=lfs diff=lfs merge=lfs -text
assets/g1/g1_box_push_executed_only.mp4 filter=lfs diff=lfs merge=lfs -text
assets/g1/g1_chair_push_executed_only.mp4 filter=lfs diff=lfs merge=lfs -text
assets/g1/g1_door_open_executed_only.mp4 filter=lfs diff=lfs merge=lfs -text
assets/g1/g1_table_push_executed_only.mp4 filter=lfs diff=lfs merge=lfs -text
assets/hardware_demo/chair[[:space:]]upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/hardware_demo/demo[[:space:]]teaser.mp4 filter=lfs diff=lfs merge=lfs -text
assets/hardware_demo/barrier[[:space:]]drag.mp4 filter=lfs diff=lfs merge=lfs -text
assets/hardware_demo/barrier[[:space:]]upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/hardware_demo/tire[[:space:]]stack.mp4 filter=lfs diff=lfs merge=lfs -text
assets/hardware_demo/tire[[:space:]]upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/hardware_demo/traffic[[:space:]]cone[[:space:]]upright.mp4 filter=lfs diff=lfs merge=lfs -text
assets/hardware_demo/rugged[[:space:]]box[[:space:]]push.mp4 filter=lfs diff=lfs merge=lfs -text
assets/hardware_demo/tire[[:space:]]rack[[:space:]]drag.mp4 filter=lfs diff=lfs merge=lfs -text
assets/large_videos/summary_balanced.mp4 filter=lfs diff=lfs merge=lfs -text
assets/large_videos/sumo_demo_balanced.mp4 filter=lfs diff=lfs merge=lfs -text
